<h1>About YT Song Rater</h1>
<p>
  When using YouTube for listneing to music, I felt that a few features for
  playlists could be added that might enhance the experience. I built this small
  project in order to test out ideas I had to improve my own listening.
</p>
<p>
  I noticed that YouTube's shuffle algorithim would often loop through playing
  the same order of songs, so I made the playlist order truly random. I also had
  the idea of using tags to create sub playlists from one larger playlist. This
  way instead of maintaining many different playlists and adding the same song
  to multiple, you can keep all your songs in one place, then simply filter
  based on your own custom tags to instantly get the desired songs. I also often
  struggle with determing what my favorite song is when asked, so I thought it
  might be cool to have a way of ranking songs.
</p>
