<mat-form-field appearance="fill" class="input">
  <mat-label>YouTube Watch Code</mat-label>
  <input matInput (keyup.enter)="addSong()" [(ngModel)]="inputWatchCode" />
</mat-form-field>

<div *ngIf="songs?.length > 0; else noSongs">
  <youtube-player
    width="560"
    height="315"
    [videoId]="currentSong.watchCode"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
  ></youtube-player>
  <div>
    <button mat-raised-button color="primary" (click)="playRandomVideo()">
      Skip
    </button>
    <button mat-raised-button color="warn" (click)="removeSong()">
      Remove from playlist
    </button>
  </div>
  <mat-chip-list>
    <mat-chip color="primary" selected>{{ currentSong.rating }}</mat-chip>
    <div *ngFor="let tag of currentSong.tags | keyvalue">
      <mat-chip color="accent" selected>{{ tag.key }}</mat-chip>
    </div>
  </mat-chip-list>
</div>

<ng-template #noSongs>
  <hr />
  <h5>There are no songs in your playlist. Add one to get started!</h5>
</ng-template>
