<mat-form-field appearance="fill" class="input">
  <mat-label>YouTube Watch Code or URL</mat-label>
  <input matInput (keyup.enter)="addSong()" [(ngModel)]="inputWatchCode" />
</mat-form-field>

<div *ngIf="songs?.length > 0; else noSongs">
  <div class="video-container">
    <youtube-player
      width="100%"
      height="100%"
      class="video"
      [videoId]="currentSong.watchCode"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
    ></youtube-player>
  </div>
  <div class="controls-row">
    <button mat-mini-fab color="primary" (click)="playRandomVideo()">
      <mat-icon>skip_next</mat-icon>
    </button>
    <span *ngIf="tagCounts">
      <mat-form-field class="tag-filter">
        <mat-label>Filter</mat-label>
        <mat-select (selectionChange)="filterByTag($event.value)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let tag of allTags" [value]="tag">{{
            tag
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <button mat-mini-fab color="accent" class="right" (click)="removeSong()">
      <mat-icon>
        clear
      </mat-icon>
    </button>
  </div>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="tag selection">
      <mat-chip
        *ngFor="let tag of tags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)"
      >
        {{ tag }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Tags"
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{ tag }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<ng-template #noSongs>
  <hr />
  <br />
  <h1>There are no songs in your playlist. Add one to get started!</h1>
</ng-template>
